body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a {
  list-style-type: none;
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* menu */

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  align-items: center;
  display: flex;
}
.header-title {
  color: #404bbf;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding: 24px 0;
  display: block;
  margin-right: 76px;
  position: relative;
}
.contakt-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
  gap: 40px;
  display: flex;
}
.header-link-address {
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post-link-header {
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio {
  content: "";
  display: block;
  border-bottom: 2px solid #404bbf;
  color: #404bbf;
  position: relative;
}
.studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.post-link-header:hover,
.post-link-header:focus {
  color: #404bbf;
  transition-delay: 0ms, 150ms;
}
.contakt-link:hover,
.contakt-link:focus {
  color: #404bbf;
  transition-delay: 0ms, 150ms;
}

.post-link {
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.post-link:hover,
.post-link:active {
  color: #404bbf;
  transition-delay: 0ms, 150ms;
}
.accent {
  color: #2e2f42;
}
.address {
  font-style: normal;
}
.header-container-my {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Maim */
/* Hero section */

.title {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/photo/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
}
.title-container {
  flex-direction: column;
  display: flex;
  gap: 40px;
  margin: 0 auto;
}
.post-title {
  color: #fff;
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: flex;

  max-width: 496px;
}
.button-title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-title:hover,
.button-title:focus {
  color: #404bbf;
  background-color: #404bbf;
  transition-delay: 0ms, 150ms;
}

/* Description */
.container-description-my {
  padding: 120px 0;
}

.description-list {
  width: calc((100% - 72px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-description {
  margin-bottom: 8px;
}
.container-description {
  display: flex;
  gap: 24px;
  padding-top: auto;
}

.description-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-top: 8px;
}
.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}
.icons-description {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
/* Photo */

.photo {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.photo-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
  text-align: center;
}
.photo-name-text,
.photo-name-description {
  padding: 32px 0;
}
.photo-team {
  display: flex;
  column-gap: 24px;
}
.photo-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.photo-stile {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.photo-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.block-image {
  display: block;
}
.icons {
  display: flex;
  padding-top: 8px;
  gap: 24px;
  justify-content: center;
}
.icons-photo {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-color {
  fill: #f4f4fd;
}
.icons .social-icons:hover,
.icons .social-icons:focus {
  background-color: #404bbf;
}

.icons .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-team .photo-stile {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* portfolio-photo */
.container-photo {
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-photo {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-photo-list {
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-photo-product {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-photo-product:hover .portfolio-photo-product:focus {
  transition-delay: 0ms, 150ms;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba (46, 47, 66, 0.08);
}
.portfolio-text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.photo-title-portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.photo-name-portfolio {
  align-items: flex-start;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.hicture-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.overlay {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 296px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-photo-list:hover .overlay {
  transition-delay: 0ms, 150ms;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}
.portfolio-photo-list:hover,
.portfolio-photo-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-photo-my {
  position: relative;
  overflow: hidden;
}
/* footer */
.footer {
  background-color: #2e2f42;
  height: 312px;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;

}
.footer-title {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.accent-footer {
  color: #f4f4fd;
}
.footer-text-title {
  padding-top: 100px;
  padding-right: 120px;
  justify-content: start;
  align-items: baseline;
}
.social-media-list {
  padding-top: 100px;
  padding-right: 80px;
}

.social-media {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-my {
  display: flex;
  
  align-items: baseline;
}
.footer-icons .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-social-icons {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons .social-icons:hover,
.footer-icons .social-icons:focus {
  background-color: #31d0aa;
}
/* new */
.form{
  display: flex;
  position: relative;
}
.form-text-footer {
  
  padding-top: 100px;
}
.form-subscribe{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
}
.form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #2e2f42;
  
}
.form-input {
  padding-top:  8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-family: inherit;
  margin-right: 24px;
}
.form-button{
  
  width: 165px;
  height: 40px;
  border-radius: 4px;
background: #4D5AE5;
padding: 8px 64px 8px 24px;
color:  #FFF;
}
.frame{
  position: absolute;
  top: 8px;
  right: 24px;
}